framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: false
    handle_all_throwables: true
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

when@dev:
    framework:
        profiler: { only_exceptions: false }

when@prod:
    framework:
        cache:
            system: cache.adapter.redis
            default_redis_provider: '%env(REDIS_URL)%'
